<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
  rel="stylesheet"
/>

<a href="/">back</a>
<div class="inhalt">
<h1>Bewertungen: {{recipe.titel}}</h1>
<a href="/neuebewertung/{{recipe.id}}"><button></button>Create Review</button></a>
<div>
  {{#each reviews}}
    <div>
      <h1>{{nutzername}}</h1>
      <p>{{text}}</p>
      <img />
      {{#range sterne}}
        <img src="/sternentaste-bewerten.png" alt="Star" class="star" />
      {{/range}}
      {{#range (diff sterne)}}
        <img src="/empty_star.png" alt="Star" class="star" />
      {{/range}}
    </div>
  {{/each}}
</div>
</div>

<script>
  Handlebars.registerHelper('range', function(n, block) { var accum = '';
  for(var i = 0; i < n; ++i) accum += block.fn(i); return accum; });
</script>