<h1>luisamueller</h1>
<input class="button" type="submit" value="Bild hochladen" />
</form>
<div>
    <input placeholder="Titel..." type="titel" /><br />
    <input placeholder="Beschreibe dein Rezept..." type="beschreibung" /><br />
  </div>

  <input class="button final" type="submit" value="Hochladen" />