<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
  rel="stylesheet">
  
  <div class="inhalt">
  <h1>luisamueller</h1>
<!--<input class="button" type="submit" value="Bild hochladen" /> --> 
</form>
<div>
  <form action="/createpost" enctype="multipart/form-data" method="post">
    <span class="inputtitel">
      Titel
    </span>
    <input type="text" name="titel"/><br/>
    <span class="inputtitel">
      Titelbild
    </span>
    <input type="file" name="bild"/><br/>
    <span class="inputtitel">
      Beschreibung
    </span><br/>
    <textarea name="text" placeholder='Enter comment...'></textarea>
    <input class="buttonfinal" type="submit" value="Veröffentlichen"/>
  </form>
</div>
<!--
    <input placeholder="Titel..." type="titel" /><br />
    <input placeholder="Beschreibe dein Rezept..." type="beschreibung" /><br />
  </div>

  <input class="button final" type="submit" value="Hochladen" />
-->