<div class="post">
  {{#recepies}}
    <h1>{{titel}}</h1>
    <img src="" alt="picture" />
    <h2>{{name}}</h2>
  {{/recepies}}

  <p>16/09/2024</p>
  <a href="/bewertung">
    <img src="/sternentaste-bewerten.png" />
  </a>
  <a href="/bewertungen">
    <img src="Kommentar.svg" />
  </a>
  <p>lorem ipsum</p>
</div>