<div class="post">
  <h1>luisamueller</h1>
  <img src="" alt="picture" />
  <h2>Pomodoro Spagetthi</h2>
  <p>16/09/2024</p>
  <a href="/bewertung">
    <img src="/public/uploads/sternentaste-bewerten.png"/>
  </a>
  <a href="/bewertungen">
    <img src="Kommentar.svg" />
  </a>
  <p>lorem ipsum</p>
</div>