<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
  rel="stylesheet"
  
<div class="post">
  {{#recepies}}
    <h2 class="acount">{{name}}</h2>
    <img src="" alt="picture" />
    <h1 class="titelrezepte">{{titel}}</h1>
  {{/recepies}}

  <p>16/09/2024</p>
  <a href="/bewertung">
    <img src="/sternentaste-bewerten.png" />
  </a>
  <a href="/bewertungen">
    <img src="Kommentar.svg" />
  </a>
  <p>lorem ipsum</p>
</div>